.divSpinner{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinning {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}